html,
body {
  height: 100%;
  width: 100%;
}

.latest-events {
  font-size: 1.5vw;
  padding-left: 390px;
}

.rightbar {
  float: right;
  width: 250px;
  padding: 10px;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  font-size: 18px;
}

.nav-link {
  color: black;
  background-color: white;
}
.nav-item {
  color: black;
  background-color: white;
}
.active {
  color: black;
  background-color: white;
}

.navbar .navbar-nav .nav-link:hover {
  background-color: white;
  color: #b9871a;
}

li.navbaranimation:hover{
  border: none;
}

.navbaranimation::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 4px;
  left: 50%;
  bottom:1;
  background-color: #b9871a;
  transition: all ease-in-out .3s;
}

.navbaranimation:hover::after{
  width: 100%;
  left: 0;
}

.active {
  color: #b9871a;
  background-color: white;
  border-bottom: 2px solid #b9871a;
}